beautifulsoup4==4.4.1
chardet==2.3.0
dj-config-url==0.1.1
Django==1.9.1
django-andablog==2.1.1
django-braces==1.8.1
django-contact-form==1.2
django-extensions==1.6.1
django-feedreader==1.3.6
django-markdown==0.8.4
django-markitup==2.3.1
django-material==0.5.1
django-model-utils==2.4
django-newsletter==0.6
django-taggit==0.18.0
django-webtest==1.7.8
factory-boy==2.6.0
fake-factory==0.5.3
feedparser==5.2.1
ldif3==3.1.1
Markdown==2.6.5
mock==1.3.0
pbr==1.8.1
Pillow==3.1.1
psycopg2==2.6.1
python-card-me==0.9.1
python-dateutil==2.4.0
pytz==2015.7
six==1.10.0
sorl-thumbnail==12.4a1
surlex==0.2.0
unicodecsv==0.14.1
waitress==0.8.10
WebOb==1.5.1
WebTest==2.0.20
wheel==0.26.0
whitenoise==2.0.6
