{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <div class="row center">
            <div class="card green">
                    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li class="card-panel white-text"><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        <div class="fb-share-button" data-href="https://opendata233.herokuapp.com" data-layout="button_count"></div>
    {% endfor %}
    </ul>
{% else %}
    <div class="card large">No polls are available.</div>
{% endif %}
            </div>
        </div>
    </div>
{% endblock %}
