
{% extends 'base.html' %}

{% block content %}
          <meta http-equiv="refresh" content="3;URL='https://www.facebook.com'" />


    <div class="container">
      <div class="row">

    <div class="card large z-depth-5 ">

    <div class="card-content">

            <h4 class="center">
                Thank you for contacting us. We will respond to your message in the shortest possible time.
            </h4>

             <h5 class="center">You are now being redirected to the homepage</h5>

         <div class="center">
               <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
         </div>

    </div>
      </div>
     </div>
</div>
{% endblock content %}