{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}



    <div class="container">
        <div class="row">
            <h4 class="center">IVOR KOBINA GREENSTREET</h4>
               <p>

Mr Greenstreet was born to two dons of Ghana's premier university, the University of Ghana, Legon. The third of four children, he is a lawyer, both at the English (Inner Temple) and Ghanaian Bars. He is also a writer, publisher, and businessman.

A die-hard Nkrumahist, Mr Greenstreet went into active politics in the 90s, joining the People's Convention Party (PCP), and was elected by the PCP as their parliamentary candidate for the Ayawaso West Wuogon constituency for the 1996 poll.

However, with his party merging with the opposition New Patriotic Party (NPP) to form the Great Alliance, which contested that year’s election, Mr Greenstreet was compelled to give up his ambition, so that the NPP candidate at the time – Isaac Amoo – could contest.

He, nonetheless, managed to run for parliament on the CPP's ticket in 2004, after the collapse of the Great Alliance, in the same constituency, amassing 4,964 votes. It was an unprecedented feat, given that the CPP had managed less than 500 votes in that constituency previously.

He went on to become CPP General Secretary, serving two four-year terms, spanning 2007 to 2015, and holds the reputation of being the only national officer to be re-elected for a second term.

Mr Greenstreet comes across as a bold and principled politician, who is unafraid to speak his mind. For example, at the governing National Democratic Congress’ national delegates congress in Kumasi in December 2014, Mr Greenstreet said directly to President John Mahama and Vice President Kwesi Amissah-Arthur that: “You don’t care”.

“Nobody is feeling your better Ghana”, Greenstreet shouted when he delivered his party’s solidarity message to the NDC at the Baba Yara Stadium in the Ashanti regional Captial, Kumasi – stronghold of the main opposition New Patriotic Party (NPP).

In the full glare of the President, Vice President, former President Jerry Rawlings, and thousands of leaders and supporters of the NDC, a defiant Greenstreet said: “…Currently nobody, I mean nobody is feeling your better Ghana.”

“Continuous ‘dumsor dumsor,’ corruption from top to bottom, left, right, inside, out; and all the challenges you are facing [are] suffocating the Ghanaian people.”</p>

        </div>
    </div>

{% endblock %}