{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="container">
        <div class="row">
           <h3 CLASS="center">NANA ADDO DANKWA AKUFFO-ADDO</h3>
            <p>
                Nana Addo Dankwa Akufo-Addo is one of Ghana’s foremost politicians. His political career has spanned some 40 years and in recent times, his contributions to human rights, democracy and the rule of law are unmatched on Ghana’s political landscape.
<p>Ghana’s most popular politician today, he is widely respected as a statesman, a patriot, a visionary and his passion for Ghana’s development is widely acknowledged, even by his opponents.
</p>

Born 29 March 1944 in Swalaba, Accra, Nana was raised in Ga Maami - the heart of Accra - and in Nima. His father’s Accra residence, Betty House at Korle Wokon, became the de facto headquarters of the country’s first political party, the United Gold Coast Convention (UGCC), after it was founded at Saltpond in 1957.

Politics can be said to be a genetic blueprint of Nana Addo’s family. Three of the founding fathers of Ghana, fondly called the Big Six, were Nana’s blood relations - J.B. Danquah (grand-uncle), William Ofori-Atta (uncle) and Edward Akufo-Addo (his father). His father later became the third Chief Justice of Ghana and then served as ceremonial President of the Republic from 1969-72.

            </p>

            <h4 class="center">POLITICAL CAREER</h4>
            <hr>
            <p>
                Nana Addo was elected three times as Member of Parliament for the Abuakwa South constituency in the Eastern Region of Ghana in 1996, 2000 and 2004. Between 2001 and 2007, he served Ghana with distinction as Cabinet minister, first as Attorney General and Minister for Justice, and then as Foreign Minister, a position he held for five years.

Having blazed a path in the fight against the obnoxious criminal libel law in Ghana, Nana Addo had the satisfaction as Attorney General of steering the repeal of this legislation, which had hitherto been used to intimidate the media and criminalise free speech. The repeal has enabled the Ghanaian media to become one of the freest and most vibrant in Africa.

As Foreign Minister, Nana served as Chairman of the Ecowas Mediation and Security Council in 2003 and was fully involved in the successful Ecowas peace efforts in Sierra Leone, Liberia, Côte d’Ivoire and Guinea-Bissau.

In August 2006, when Ghana was elected by her peers to take the non-permanent West African seat on the UN Security Council for 2006-2007, it was Nana Addo who chaired the meeting that adopted Resolution 1701 - the decision that halted Israel’s massive incursions into Lebanon.

Nana was elected Flagbearer of the NPP in 2007. Having won the first round of the General Election of 2008, he lost the run-off by a margin of 40,586 votes – 0.46% of the total – the smallest ever in African political history. In 2010, Nana Addo was chosen by the biggest Electoral College in Africa and Ghana’s history - 84,000 out of 110,000 voters - to lead the NPP into the General Election of 2012.

The NPP challenged the validity of the declaration of the results of the 2012 General Elections in which the NPP garnered 47.74% of the votes. In August 2013, the Supreme Court declared the results were valid, voting 5:4 against the petitioners.

Nana Addo’s acceptance of this verdict cemented his reputation as a statesman with pedigree and he was lauded locally and internationally for preserving Ghana’s peace and maintaining Ghana’s status as the beacon of democracy in Africa.


            </p>

            <h4 class="center">POSITION ON ISSUES</h4>
            <hr>

            <p>
                Nana Addo is passionate about the economic transformation of Ghana. He believes Ghana has the natural resources and human resources with which it can accelerate its development. He also believes the youth of Ghana have to be provided with opportunities to enable them contribute their quota to Ghana’s development.

            </p>


      <h4 class="center">PERSONAL DATA</h4>
            <P>
Nana was educated at the University of Ghana - BSc Economics 1967, called to the English Bar - Middle Temple in 1971 and to the Ghanaian Bar in 1975. He is married to Rebecca and has five daughters and four grandchildren.

            </P>


        </div>
    </div>

{% endblock %}