{% extends "base.html" %}
{% load andablog_tags %}

{% block andablog_meta %}
    <meta name="description" content="{{ entry.title }}">
    <meta name="author" content="{{ entry.author.get_short_name }}">
{% endblock %}

{% block andablog_page_title %}
    {{ entry.title }}
{% endblock %}

{% block andablog_content %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12 m4 l9">
                 <div class="blog-post">
        <h5 class="blog-post-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>{% if not entry.is_published %} <span class="label label-default">Draft</span>{% endif %}</h5>
                     <hr><p class="blog-post-meta"><h6 class="chip yellow">{{ entry.published_timestamp|date:"DATE_FORMAT" }}</h6> by <h6 class="chip"><i class="material-icons right">person_pin</i>{{ entry.author}}</h6></p>
       <div class="fb-like" data-href="https://opendata233.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <p>
                     <hr>

            {{ entry.content }}
                                          <div class="fb-share-button" data-href="https://opendata233.herokuapp.com" data-layout="button_count"></div>
<div class="fb-like" data-href="https://opendata233.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

        </p>
          <div class="fb-comments" data-href="https://opendata233.herokuapp.com" data-numposts="10"></div>

        {% include "andablog/comments_snippet.html" with comment_object=entry %}
    </div>
            </div>

        <div class="col s12 m4 l3">
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <hr>

              <div class="fb-page" data-href="https://www.facebook.com/opendata233/?fref=ts" data-tabs="timeline, events" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/opendata233/?fref=ts">
                     <a href="https://www.facebook.com/opendata233/?fref=ts">Open Data 233</a>
                 </blockquote></div></div>
        </div>


        </div>

    </div>

<div class="container">
    <div class="row">
        <div class="col s12 m4 l6">
            <div class="card-panel light-green">
                <div class="card-title white-text"> << Prev</div>
                <p>another article</p>
            </div>
        </div>

        <div class="col s12 m4 l6">
                        <div class="card-panel light-green ">
                <div class="card-title white-text right-align"> Next >></div>
                            <p>another article</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}
