{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load andablog_tags %}


    {% block andablog_content %}
        {% block content %}
     <div class="container">
             <div class="row">
        <div class="col s12 m4 l9">

    {% for entry in entries %}
        <div class="row">
            <div class="card-panel">
                <div class="blog-post">
                    <div class="row green">
                        <h5 class=""><a class="white-text" href="{{ entry.get_absolute_url }}"><i class="material-icons left">view_headline</i>{{ entry.title }}</a>{% if not entry.is_published %} <span class="label label-default">Draft</span>{% endif %}</h5>

                    </div>
                    <p class="blog-post-meta "><h6 class="chip yellow">{{ entry.published_timestamp|date:"DATE_FORMAT" }}</h6> by <h6 class="chip"><i class="material-icons right">person_pin</i>{{ entry.author}}</h6></p>
                    <p>
                        {# TODO: "Better support for truncating markup" #2 #}
                        {# Truncate derived from: Avg reading speed (3.33 words/s) * Average attention span (8s) #}
                        {{ entry.content|truncatewords_html:40 }} <a href="{{ entry.get_absolute_url }}">(More...) {% include "andablog/comments_count_snippet.html" with comment_object=entry %}</a>
                    </p>
                </div><!-- /.blog-post -->
            </div>
        </div>
    {% endfor %}

    {% include "andablog/pagination_snippet.html" with page_obj=page_obj %}
        </div>
    </div>



     </div>

{% endblock %}

{% endblock %}