{% load i18n %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}OpenData233{% endblock %}</title>
</head>
<body>



<!-- facebook page plugin sdk -->

<div id="fb-root"></div>

<!-- facebook comments sdk -->

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=402213676639512";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<main>
<!-- Dropdown Structure -->
<div id="parties" class="dropdown-content transparent">

    <br>
    <ul>
        <li class="divider"></li>
  <li class="light-green "><a href="http://conventionpeoplesparty.org/" target="_blank" class="white-text">CPP</a></li>
        <li class="divider"></li>
  <li class="light-green "><a href="http://www.ndc.org.gh/" target="_blank" class="white-text">NDC</a></li>
        <li class="divider"></li>
  <li class="light-green "><a href="http://www.newpatrioticparty.org/" target="_blank" class="white-text">NPP</a></li>
</ul>

</div>

<div class="navbar-fixed">
     <nav class="green">
    <div class="nav-wrapper green-text container">
      <a href="{% url 'core:home' %}"><!--<img src="" alt="" />--></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down green-text">
        <li class=""><a href="{% url 'core:home' %}">Home</a></li>
        <li class=""><a href="{% url 'polls:index' %}">Polls</a></li>
        <li class=""><a href="{% url 'andablog:entrylist' %}">Opinion</a></li>
        <li class=""><a href="{% url 'feedreader:feed_list' %}">Headlines</a></li>
        <li class=""><a href="{% url 'core:candidates' %}">The Candidates</a></li>
        <li class=""><a class="dropdown-button" href="#!" data-activates="parties">The Parties<i class="material-icons right">arrow_drop_down</i></a></li>
        <li class=""><a href="{% url 'core:about' %}">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class=""><a href="{% url 'core:home' %}">Home</a></li>
        <li class=""><a href="{% url 'polls:index' %}">Polls</a></li>
        <li class=""><a href="{% url 'andablog:entrylist' %}">Opinion</a></li>
        <li class=""><a href="{% url 'feedreader:feed_list' %}">News</a></li>
        <li class=""><a href="{% url 'core:candidates' %}">The Candidates</a></li>
        <li class=""><a class="dropdown-button" href="#!" data-activates="parties">The Parties<i class="material-icons right">arrow_drop_down</i></a></li>
        <li class=""><a href="{% url 'core:about' %}">About</a></li>
      </ul>
    </div>
  </nav>

</div>




  <div class="section no-pad-bot" id="index-banner">
    <!--  all pages on site will inherit from this template -->
     {% block content %}
     {% endblock %}


        <footer class="page-footer black">
    <div class="">
      <div class="row">
        <div class="col l3 m4 s12">
          <h5 class="white-text center ">OpenData233</h5>
          <p class="grey-text  center text-lighten-4">
              OpenData233 is a non partisan project. <br/> We aim to keep an eye on Election 2016 to promote greater public voice and enhance public participation in politics
          </p>

        </div>

        <div class="col l3 m4 s12">
            <h5 class="white-text center"> Subscribe to Newsletter</h5>
            <p class="center white-text">Subscribe for the latest updates on the elections</p>
            <!--<form action="http://formspree.io/barjebernard@gmail.com" method="POST">

                <div class="input-field center">
                        <input type="hidden" name="_next" value="."  />
                 <input id="email" type="email" class="validate white">
                 <label for="email">Email</label>
                    <button  class="btn center green btn-large" value="Send" type="submit">Subscribe   <span><i class="material-icons">email</i></span></button>

                </div>

            </form>-->
            <form action="//formspree.io/barjebernard@gmail.com"
      method="POST">

    <input type="text" name="_next" value=".">
    <input type="email" name="_replyto">
    <button class="btn" type="submit" value="Send">Sub<button
</form>


        </div>

        <div class="col l3 s12">

          <h5 class="white-text center">Links</h5>
          <ul>
<li class="center"><a href="{% url 'contact:contact_form' %}">Contact us</i></a></li>
<li class="center"><a href="{% url 'core:about' %}">About</a></li>
              <li class="center"><a href="{% url 'feedreader:feed_list' %}">News Feeds</a></li>
</ul>
        </div>       <div class="col l3 s12">

          <h5 class="white-text center">Connect</h5>
          <div>
               <ul >
<li class="center"><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
<li class="center"><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
<li class="center"><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
<li class="center"><a href="http://plus.google.com/"><i class="fa fa-google-plus"></i> </a></li>
</ul>
          </div>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          <div class="row center">
                   Copyright Opendata233 2016
          </div>
      </div>
    </div>
  </footer>
  </div>

 <script src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" ></script>


<script>
    $(document).ready(function(){
        $('.button-collapse').sideNav();
$('.carousel').carousel();

        $('.dropdown-button').dropdown({
           inDuration: 300,
           outDuration: 225,
           constrain_width: true,
           hover: false,
           gutter: 0,
           belowOrigin: false
           }
      );

    });

</script>

</main>
</body>
</html>